.bundle
.sass-cache
*.sublime-project
*.sublime-workspace
.DS_Store
*.swp
db/*.sqlite3
log/
tmp/
.sass-cache/
.idea/
bin
coverage/
public/system/
solr/data/*
solr/pids/*
ROUTES.txt
public/profiles/**
.gitmodules
doc/js
doc/*.tags
tags
db/schema.rb
doc/workflow
doc/lawyer_dot_com_examples
.rbenv-version
.env
zeus.json
Guardfile